 .slider{
    /* display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px; */
  
}
.slider img{
    width: 82%;
    border-radius: 5px;
}
 .containerslid{
    width: 95%;
    margin-right: -80px;
    margin-top: 50px;
 }