.container{
    display: flex;
justify-content: space-around;

background-color:#fff;
}
.container1{

}
.container2{
padding: 20px 10px;
}
.container2 nav{
list-style: none;
display: flex;
flex-direction: row;

}
.container2 li{
    margin-right: 15px;
  color: #212529 ; 
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
transition: 0.3s all ease-in-out;
}
.container2 li:hover{
    transform: scale(1.1);
    color: #6f42c1;
}
.orgli{
    color:#6f42c1 !important;
cursor: pointer;
transition: 0.3s all ease-in-out;
}
.orgli:hover{
    transform: scale(1.1);
}