:root {
  font-family: "Vazir", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  line-height: 1.5;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  margin: auto;
  max-width:10000px;
  min-height: 100vh;
  padding: 10px;
  background-color: #f9f9f9;

}

button,
input,
select {
  font-family: inherit;
}
